@charset "utf-8";
/* CSS Document */

body{
	background-color: #FFFFFF;
	overflow-y: scroll;
}

a, img
{
	border: none;
}

.page_element
{
	
	width: 1024px;
	margin-left: auto;
	margin-right:auto;
	
}

#main_header
{
	text-align:center;
	font-size:x-large
}


.ui-dialog-title
{
	font-size: .8em;
	
}


#credits
{
	font-family: arial,sans-serif;
	font-size: small;
	margin-top: 30px;
}

.ui-dialog-content div
{
	font-size: .8em;
	margin-top: 2px;
	margin-bottom: 2px;
	
}

.ui-widget 
{
	font-size: 1em;
}

.ui-tooltip-content
{
	font-size: .8em;

}

.corecal_button_bar
{
	border-bottom: 1px solid #EBEBEB;
	padding: 0 0 10px;
	margin: 7px 0 0;

}

.corecal_edit_form
{
	font-family: arial,sans-serif;
	font-size: 1em;
	padding: 10px 0 10px;

}

.corecal_form_field
{
	padding: 5px;	
}

.corecal_text
{
	
	font-family: arial,sans-serif;
}

.corecal_select
{
	
	width: 200px;
	padding: 3px;
	font-size: 1.2em;
	margin: 0px;

}

.corecal_container
{
	width: 80%;
}

.corecal_lbl_container
{

	width: 20%;
}


textarea.corecal_text
{
	width: 100%;
}

.corecal_hr
{
	border-top: 1px solid #CCC;
	height: 1px;
	margin-bottom: 10px;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
}


.corecal_layout_object
{
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
}



#corecal_top_bar_left
{
	width: 30%;
	vertical-align:top;
}


#corecal_top_bar_right
{
	width: 70%;
	vertical-align: top;
}

#info_panel #text
{
	font-size: .8em;
}

#nav_bar
{

height: 150px;
}

.navigation_panel
{
	font-size: .7em;
	height: 120px;
}

.dashboard_panel
{
	font-size: .7em;
}

.left_aligned_panel{

float: left;

}

#top_panel_container
{

	width: 100%;
	border-collapse:separate; 

}

#dashboard
{
	font-size: .8em;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 24px;
}

.dashboard_item_right
{
	width: 120px;
	font-size: small;
	float: right;
	

}

#dialog_container{
	padding : 4px; 
	overflow : auto; 
	
}

.dialog_link
{

	font-size: .9em;
	

}

.dialog_item_hidden
{

	display: none;
	
}

#dialog_bottom_bar
{
	font-size: .7em;
	text-align: right;

}

#logo_container{

	width: 100%;
	text-align: center;

}

#reg_error_msg
{
	font-size: smaller;
	color: red;
	width: 100%;
	text-align: center;
}

.corecal_gen_container
{
	
	font-family: arial,sans-serif;
	font-size: 1em;
	border: 1px solid;
	border-color: #c0c0c0 #D9D9D9 #D9D9D9;
	border-radius: 5px;
	background: #deedf7 url(../images/panelbackground.png) 70% 70%;
	overflow: hidden;
	vertical-align: middle;
	

}

#page_intro_lbl
{
	width: 100%;
	text-align: center;
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: arial,sans-serif;


}

.recovery_text_box
{
	font-size: 1.5em;
	

}


#account_recovery_pannel
{
	width: 80%;
	margin-bottom: 50px;
	margin: auto;
	font-size: .8em;
	
}

.recovery_inst
{
	font-size: 1em;	
}

.pass_rec_cont
{

	font-size: .9em;
	max-width: 480px;
	margin: 10px auto;
	
}

.recovery_btn
{
	padding: 5px;

}

.error
{
	font-size: 1.3em;
	margin-bottom: 5px;
	text-align: left;
	color: red;
}

input{

padding: 3px 5px 3px 5px;
border-width: 1px;
font-size: 1.5em;

}

.pass_recovery_msg
{
	max-width: 480px;
	margin: 10px auto;
	text-align: center;
	font-size: larger;

}