{% extends "base.template.html.twig" %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <img class="" src="{{ asset('resources/corescheduler/img/logo.png') }}" alt="CoreLABS Logo">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-4">
                <form>
                    <div class="form-group">
                        <label for="username">User name</label>
                        <input type="email" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input type="password" class="form-control" id="password1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-4">
                
                <span style="margin-top: 20px;margin-bottom: 20px;"><h4>Sign In Help</h4></span>
                <span>Forgot your username or password? <a herf="loginhelp">Get help here</a></span>
                <span>Need an account? <a herf="register">Click here to register.</span>
            </div>
        </div>
    </div>       
{% endblock %}