@charset "utf-8";
/* CSS Document */

body{
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

a, img
{
    border: none;
}

@media (min-width: 640px) {
    .main_container
    {
        width: 640px;
        margin-left: auto;
        margin-right: auto;

    }
}

@media (max-width: 640px) {
    .main_container
    {
        width: 100%;

    }
    
}

#button_container:after {
  content: "";
  display: table;
  clear: both;
}

.item{
    
    display: table;
    width: 100%;
    background-color: #E3F2FD;
    height: 72px;
}

.item_wrapper
{
    display: table-cell;
    vertical-align: middle;
    padding-left: 16px;
    padding-right: 16px;
}

.item_left{
    width: 56px;
    float: left;
    overflow: hidden;
}

.item_right{
    margin-left: 56px;
    position: relative;
}

.item_txt{
    font-size: large;
}

.item_lbl{
    font-size: small;
    color: rgba(0, 0, 0, 0.54);
}


#menu{
    text-align: right;
}

#topbar{
    
    display: table;
    width: 100%;
    background-color: rgba(187, 222, 251, 0.9);
    height: 56px;
}



#credits
{
    font-size: x-small;
}

#header
{
    background-color: #64B5F6;
    background-position: center;
    background-image: url('../imgs/topheader.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 140px;
    
}


.navigation_panel
{
    font-size: .7em;
    height: 120px;
}

#top_panel_container
{

    width: 100%;
    border-collapse:separate; 

}

#logo_container{

    width: 100%;
    text-align: center;

}


.corecal_gen_container
{

    overflow: hidden;
    vertical-align: middle;

}

#account_recovery_pannel
{
    width: 80%;
    margin-bottom: 50px;
    margin: auto;
    font-size: .8em;

}


