<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>User profile</title>

        <link href="./rsc/css/userprofile.css" rel="stylesheet" type="text/css" />

        <script language="javascript" type="text/javascript" src="../jquery/jquery-1.10.2.min.js"></script>
        <script language="javascript" type="text/javascript" src="../jquery/jquery-ui-1.10.3.recovery_page.min.js"></script>
    </head>
    <body>
        <div class="main_container">
            <div style="margin-left: 16px;margin-right: 16px; border: 1px solid; border-color: #cccccc ;border-top-left-radius: 5px; border-top-right-radius: 5px">
                <div  style="background-image: url('./rsc/imgs/topheader.png');background-color: #64B5F6; background-size: cover; height: 142px;">

                </div>
                <div style="font-size: xx-large;background-color: #64B5F6; padding-top: 16px;padding-bottom: 16px">
                    <div style="width: 56px;float: left"></div>
                    <span style="color: white;margin-left: 56px;font-family: Arial;">John Doe</span>
                </div>
                <div>
                    <div style="padding-top: 16px; padding-bottom: 16px;font-size: large;">
                         <div style="width: 56px;float: left;text-align: center;">ICON</div> 
                          <span style="font-size: large;">dfimiarz</span>
                    </div>
                    <div style="padding-top: 16px; padding-bottom: 16px;font-size: large;">
                         <div style="width: 56px;float: left;text-align: center;">ICON</div>
                         <span style="font-size: large;">dfimiarz</span>
                    </div>
                    <div style="padding-top: 16px; padding-bottom: 16px;font-size: large;">
                        <div style="width: 56px;float: left; text-align: center;">ICON</div>
                         <span>dfimiarz</span>
                    </div>
                </div>
            </div>
            
                
            
            <!--
            <div>
                <table id="top_panel_container">
                    <tr>
                        <td>
                            <div id="info" class="corecal_gen_container navigation_panel">
                                <div id="logo_container">
                                    <img src="../images/logo.png"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="account_recovery_pannel">
                <div style="height: 400px;border: dotted 1px;">
                </div>

                <div id="credits">
                    Developed and maintained by: <a href="http://forum.sci.ccny.cuny.edu/people/science-division-directory/danielf">Daniel Fimiarz</a>, The City College of New York, CUNY.
                </div>
            </div>
            -->
        </div>
    </body>
</html>